<script type="text/javascript">
  $(document).ready(function() {
    $('.modal').on('hidden.bs.modal', function(e)
    {
      $(this).find('form').trigger('reset');
      $(this).removeData();
    })
  });
</script>
<%= form_for @question, remote: :true do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this time slot from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :content, class: "control-label col-md-9 col-sm-9 col-xs-12" %>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <%= f.text_area :content, required: true, class: "resizable_textarea form-control", style: "width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 87px;"%>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
    <br>
        <%= f.label :active, class: "flat"%>
         <%= f.check_box :active, {}, "true", "false"%>
    </div>
</div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-dark", style: "float: right;" %>
  </div>
<% end %>
