<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Questions</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="well">
            <form class="form-horizontal" style="height: 31px;">
              <fieldset>
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend input-group timeslot">
                      <span class="add-on input-group-addon colors"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                      <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <span>YYYY-MM-DD - YYYY-MM-DD</span> <b class="caret"></b>
                      </div>
                    </div>

                    <div id="timeslot_btn" style="float: right; height: 31px;">
                      <button type="button" class="btn btn btn-info btn-sm"  data-toggle="modal" data-target="#add_slot">Add</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

          <div id="add_slot" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header colors">
                  <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
                  <h4 class="modal-title">New  Question</h4>
                </div>
                <div id="newform" class="modal-body">
                  <%= render 'form' %>
                </div>
              </div>
            </div>
          </div>

          <div id="edit_slot" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content" style="background: transparent;">
                  <%= render 'form' %>
              </div>
            </div>
          </div>

          <div class="x_content">
            <div class="x_content" style="overflow-x: scroll">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr class="colors">
                    <th>Content</th>
                   <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
              <tbody>
                <% @questions.each do |question| %>
                  <tr>
                    <td><%= link_to truncate(question.content, length: 40), question_path(question)  %></td>
                    <td><%= question.active? ? "Active" : "Not Active"%></td>
                    <td><a data-toggle="modal" data-target="#edit_slot" data-remote="<%= edit_question_path(id: question.id) %> #edit_slot" class="btn btn-success btn-sm ">Edit</a>
                    <%= link_to 'Delete', question, class: "btn btn-danger btn-sm ", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <%= paginate @questions, window: 4 %>
            </div>
            <br>
            <%= page_entries_info @questions %>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>
