<script src="https://code.highcharts.com/highcharts.js"></script>
<div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>Question Details</h3>

      </div>
        <div class="title_right">
          <%= link_to "", questions_path, class: "btn btn-dark btn-lg glyphicon glyphicon-arrow-left", style: "float: right;"%>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div id="container" style="min-width: 310px; height: 500px; max-width: 700px; margin: 0 auto"></div>
                </div>
               <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4>Content</h4>
                        <%= @question.content%>
                    <h4>Status</h4>
                        <%= @question.active? ? "Active" : "InActive"%>
                     <h4>Total Submisssions:</h4>  <%= @question.answers.count%>
                </div>
            </div>
           </div>
     </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    // Build the chart
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Question submisssions'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Poplularity',
            colorByPoint: true,
            data: [{
                name: 'Rating 1',
                y: <%= @rating1%>
            }, {
                name: 'Rating 2',
                y: <%= @rating2%>,
                sliced: true,
                selected: true
            }, {
                name: 'Rating 3',
                y: <%= @rating3%>
            }, {
                name: 'Rating 4',
                y: <%= @rating4%>
            }, {
                name: 'Rating 5',
                y: <%= @rating5%>
            }]
        }]
    });
    document.getElementsByClassName("highcharts-credits")[0].style.display = 'none';
});
</script>