<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Settings</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="well">
            <div style="height: 34px;">
              <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 0; height: 40px;">
                <%= render "filter" %>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12" style="float: right; padding: 0; display:none;">
               <button type="button" class="btn btn-info btn-sm config_add_btn" data-toggle="modal" data-target="#add_config">Add</button>
             </div>
            </div>
          </div>

          <div id="edit_config" class="modal fade" role="dialog">
           <div class="modal-dialog" style="width: 50%;">
             <!--Modal content-->
             <div class="modal-content">
               <div class="modal-header colors">
                 <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
                 <h4 class="modal-title">Edit Configurations</h4>
               </div>
               <div class="modal-body">
                 <%= render 'form' %>
               </div>
             </div>
           </div>
          </div>

          <div id="add_config" class="modal fade" role="dialog">
           <div class="modal-dialog" style="width: 50%;">
             <!--Modal content-->
             <div class="modal-content">
               <div class="modal-header colors">
                 <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
                 <h4 class="modal-title">New Configurations</h4>
               </div>
               <div class="modal-body">
                 <%= render 'form' %>
               </div>
             </div>
           </div>
          </div>

        <div id="config_modal" class="modal fade" role="dialog">
          <div class="modal-dialog" style="width: 50%; padding-top: 6%;">
            <!--Modal content-->
            <div class="modal-content" style="background: transparent;">
              <%= render 'form' %>
            </div>
          </div>
        </div>

          <div class="x_content">
            <div class="x_content" style="overflow-x: scroll">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr class="colors">
                    <th>Configuration Name</th>
                    <th>Content</th>
                    <th>Actions</th>
                  </tr>
                </thead>
              <tbody>
                <% @configs.each do |config| %>
                  <tr>
                    <td><%= config.title.try(:titleize) %></td>
                    <td style="width: 60%;"><div class="ellipsis"><%= config.description.try(:titleize) %></div></td>
                    <td><%= link_to 'Edit', edit_config_path(config), remote: true, class: "btn btn btn-success btn-sm" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <%= paginate @configs, window: 4 %>
            </div>
            <br>
            <%= page_entries_info @configs, :entry_name => 'Configurations' %>
            <br>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
