  <div class="x_content scroll">
    <table id="datatable" class="table table-striped table-bordered">
      <thead>
        <tr class="colors">
          <th>From</th>
          <th>Sender</th>
          <th>Status</th>
          <th>Booking Time</th>
          <th>Total Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.location.address.try(:titleize) %></td>
            <td><%= booking.user_name.try(:titleize) %></td>
            <td><%= booking.status.try(:titleize) %></td>
            <td><%= time_format(booking.created_at) %></td>
            <td><%= append_qar(booking.total_amount) %></td>
            <td>
              <%= link_to 'View', booking_path(id: booking.id), class: "btn btn-info btn-sm " %>
              <% if @user.present? %>
                <%= link_to 'Delete', booking_path(id: booking.id, user_id: @user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "action_btn btn btn-danger btn-sm " %>
              <% else %>
                <%= link_to 'Delete', booking, method: :delete, data: { confirm: "Are you sure?" }, class: "action_btn btn btn-danger btn-sm " %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="dataTables_paginate paging_simple_numbers">
      <%= paginate @bookings, window: 4 %>
  </div>
  <br>
  <%= page_entries_info @bookings %>
  <br>
</div>
