<div class="x_title">
  <h2>Vehicle Details</h2>
  <div class="clearfix"></div>
</div>

</br>
<div class="form-group">
  <%= label_tag :make, nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= text_field_tag :make, nil, class: 'form-control col-md-7 col-xs-12' %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :model, nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= text_field_tag :model, nil, class: 'form-control col-md-7 col-xs-12' %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :type, nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= text_field_tag :type, nil, class: 'form-control col-md-7 col-xs-12' %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :plate_number, nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= text_field_tag :plate_number, nil, class: 'form-control col-md-7 col-xs-12', required: true %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :license_number, nil, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= text_field_tag :license_number, nil, class: 'form-control col-md-7 col-xs-12', required: true %>
  </div>
</div>
