
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title nav-margin" style="border: 0;">
        <%= link_to home_path do %>
          <%= image_tag "logo.png", class: 'site-logo ana-logo'%>
        <% end %>

      </div>
      <div class="clearfix"></div>

      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-user"></i> Customers <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "Active Customers", user_by_role_users_path('consumer', 'active') %></li>
                <li><%= link_to " Blocked Customers", user_by_role_users_path('consumer', 'blocked') %></li>
              </ul>
            </li>
            <li><a><i class="fa fa-user"></i> Drivers <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "Active Drivers", user_by_role_users_path('driver', 'active') %></li>
                <li><%= link_to " Blocked Drivers", user_by_role_users_path('driver', 'blocked') %></li>
              </ul>
            </li>
            <li><a href=<%= home_path(name: 'Drivers') %>><i class="fa fa-user"></i> Drivers</a></li>
            <li><a href=<%= map_path() %>><i class="fa fa-map-marker"></i> Map</a></li>
            <li><a href=<%= time_slots_path() %>><i class="fa fa-calendar"></i> Time Slots</a></li>
            <li><a href=<%= bookings_path() %>><i class="fa fa-cubes"></i> Bookings</a></li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

    </div>
  </div>
