<script type="text/javascript">
    $(document).ready(function() {
      $('#single_cal1').daterangepicker({
        singleDatePicker: true,
        calender_style: "picker_1"
      }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });
  </script>
<%= form_for(@time_slot) do |f| %>
  <% if @time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

      <ul>
      <% @time_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">
    <div class="daterangepicker xdisplay picker_2 single opensright show-calendar">
      <div class="calendar first single right" style="display: block;">
        <div class="calendar-date">
          <table class="table-condensed">
            <thead>
              <tr>
                <th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i>
                </th>
                <th colspan="5" class="month">Mar 2013</th>
                <th class="next available"><i class="fa fa-arrow-right icon icon-arrow-right glyphicon glyphicon-arrow-right"></i>
                </th>
              </tr>
              <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="available off" data-title="r0c0">24</td>
                <td class="available off" data-title="r0c1">25</td>
                <td class="available off" data-title="r0c2">26</td>
                <td class="available off" data-title="r0c3">27</td>
                <td class="available off" data-title="r0c4">28</td>
                <td class="available" data-title="r0c5">1</td>
                <td class="available" data-title="r0c6">2</td>
              </tr>
              <tr>
                <td class="available" data-title="r1c0">3</td>
                <td class="available" data-title="r1c1">4</td>
                <td class="available" data-title="r1c2">5</td>
                <td class="available" data-title="r1c3">6</td>
                <td class="available" data-title="r1c4">7</td>
                <td class="available" data-title="r1c5">8</td>
                <td class="available" data-title="r1c6">9</td>
              </tr>
              <tr>
                <td class="available" data-title="r2c0">10</td>
                <td class="available" data-title="r2c1">11</td>
                <td class="available" data-title="r2c2">12</td>
                <td class="available" data-title="r2c3">13</td>
                <td class="available" data-title="r2c4">14</td>
                <td class="available" data-title="r2c5">15</td>
                <td class="available" data-title="r2c6">16</td>
              </tr>
              <tr>
                <td class="available" data-title="r3c0">17</td>
                <td class="available active start-date end-date" data-title="r3c1">18</td>
                <td class="available" data-title="r3c2">19</td>
                <td class="available" data-title="r3c3">20</td>
                <td class="available" data-title="r3c4">21</td>
                <td class="available" data-title="r3c5">22</td>
                <td class="available" data-title="r3c6">23</td>
              </tr>
              <tr>
                <td class="available" data-title="r4c0">24</td>
                <td class="available" data-title="r4c1">25</td>
                <td class="available" data-title="r4c2">26</td>
                <td class="available" data-title="r4c3">27</td>
                <td class="available" data-title="r4c4">28</td>
                <td class="available" data-title="r4c5">29</td>
                <td class="available" data-title="r4c6">30</td>
              </tr>
              <tr>
                <td class="available" data-title="r5c0">31</td>
                <td class="available off" data-title="r5c1">1</td>
                <td class="available off" data-title="r5c2">2</td>
                <td class="available off" data-title="r5c3">3</td>
                <td class="available off" data-title="r5c4">4</td>
                <td class="available off" data-title="r5c5">5</td>
                <td class="available off" data-title="r5c6">6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="calendar second left" style="display: none;">
        <div class="calendar-date">
          <table class="table-condensed">
            <thead>
              <tr>
                <th class="prev available"><i class="fa fa-arrow-left icon icon-arrow-left glyphicon glyphicon-arrow-left"></i>
                </th>
                <th colspan="5" class="month">Mar 2013</th>
                <th class="next available"><i class="fa fa-arrow-right icon icon-arrow-right glyphicon glyphicon-arrow-right"></i>
                </th>
              </tr>
              <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="available off" data-title="r0c0">24</td>
                <td class="available off" data-title="r0c1">25</td>
                <td class="available off" data-title="r0c2">26</td>
                <td class="available off" data-title="r0c3">27</td>
                <td class="available off" data-title="r0c4">28</td>
                <td class="available" data-title="r0c5">1</td>
                <td class="available" data-title="r0c6">2</td>
              </tr>
              <tr>
                <td class="available" data-title="r1c0">3</td>
                <td class="available" data-title="r1c1">4</td>
                <td class="available" data-title="r1c2">5</td>
                <td class="available" data-title="r1c3">6</td>
                <td class="available" data-title="r1c4">7</td>
                <td class="available" data-title="r1c5">8</td>
                <td class="available" data-title="r1c6">9</td>
              </tr>
              <tr>
                <td class="available" data-title="r2c0">10</td>
                <td class="available" data-title="r2c1">11</td>
                <td class="available" data-title="r2c2">12</td>
                <td class="available" data-title="r2c3">13</td>
                <td class="available" data-title="r2c4">14</td>
                <td class="available" data-title="r2c5">15</td>
                <td class="available" data-title="r2c6">16</td>
              </tr>
              <tr>
                <td class="available" data-title="r3c0">17</td>
                <td class="available active start-date end-date" data-title="r3c1">18</td>
                <td class="available" data-title="r3c2">19</td>
                <td class="available" data-title="r3c3">20</td>
                <td class="available" data-title="r3c4">21</td>
                <td class="available" data-title="r3c5">22</td>
                <td class="available" data-title="r3c6">23</td>
              </tr>
              <tr>
                <td class="available" data-title="r4c0">24</td>
                <td class="available" data-title="r4c1">25</td>
                <td class="available" data-title="r4c2">26</td>
                <td class="available" data-title="r4c3">27</td>
                <td class="available" data-title="r4c4">28</td>
                <td class="available" data-title="r4c5">29</td>
                <td class="available" data-title="r4c6">30</td>
              </tr>
              <tr>
                <td class="available" data-title="r5c0">31</td>
                <td class="available off" data-title="r5c1">1</td>
                <td class="available off" data-title="r5c2">2</td>
                <td class="available off" data-title="r5c3">3</td>
                <td class="available off" data-title="r5c4">4</td>
                <td class="available off" data-title="r5c5">5</td>
                <td class="available off" data-title="r5c6">6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="ranges" style="display: none;">
        <div class="range_inputs">
          <div class="daterangepicker_start_input">
            <label for="daterangepicker_start3">From</label>
            <input id="daterangepicker_start3" class="input-mini" type="text" name="daterangepicker_start" value="">
          </div>
          <div class="daterangepicker_end_input">
            <label for="daterangepicker_end3">To</label>
            <input id="daterangepicker_end3" class="input-mini" type="text" name="daterangepicker_end" value="">
          </div>
          <button class="applyBtn btn btn-small btn-sm btn-success">Apply</button>&nbsp;
          <button class="cancelBtn btn btn-small btn-sm btn-default">Cancel</button>
        </div>
      </div>
    </div>


    <fieldset>
      <div class="control-group">
        <div class="controls">
          <div class="col-md-11 xdisplay_inputx form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, required: true %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time, required: true %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time, required: true %>
  </div>
  <div class="field">
    <%= f.label :charges %><br>
    <%= f.number_field :charges, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
