<div id="search_form1" style="height: 34px;">
  <%= form_tag bookings_path, method: :get  do %>
    <div class="input-group" style="float: left; width: 90%;">
      <div style="float: left;width: 33%;display: inline-table;">
        <span class="input-group-addon colors"><i class="glyphicon glyphicon-map-marker"></i></span>
        <%= text_field_tag :from, params[:from], placeholder: 'From...', class: "form-control fields" %>
      </div>

      <div style="float: left;width: 33%;display: inline-table;">
        <span class="input-group-addon colors"><i class="glyphicon glyphicon-calendar"></i></span>
        <%= date_field_tag :date, params[:date], placeholder: 'Date...', value: Time.now.strftime('%Y-%m-%d'), class: "form-control fields" %>
      </div>

      <div style="float: left;width: 33%;display: inline-table;">
        <span class="input-group-addon colors"><i class="glyphicon glyphicon-envelope"></i></span>
        <%= select_tag :status, options_for_select(@status), class: "form-control fields" %>
      </div>
    </div>

      <div><%= submit_tag "Go", class: "btn btn-sm btn-primary", style: "float: right; height: 34px; margin-bottom: 0;" %></div>
      </div>
  <% end %>
</div>

