<% if @user.is_consumer? %>
  <%= render 'order_widgets' %>
<% end %>

<div class="well col-md-12 col-sm-12 col-xs-12" style="font-size:14px;">
  <div id="user_info" class="col-md-6 col-sm-6 col-xs-12">
    <table id="view_table" class="table">
      <tbody>
        <tr>
          <td class="fa_icon"><i class="fa fa-user"></i><b> Name: </b></td>
          <td class="break_text"><%= @user.name.try(:titleize) %></td>
        </tr>
        <tr>
          <td class="fa_icon"><i class="fa fa-envelope"></i><b> Email: </b></td>
          <td class="break_text"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="fa_icon"><i class="fa fa-phone-square" ></i><b> Cell: </b></td>
          <td class="break_text"><%= @user.cell %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="user_info" class="col-md-6 col-sm-6 col-xs-12">
    <table id="view_table" class="table">
      <tbody>
        <tr>
          <td class="fa_icon"><i class="fa fa-check-square-o"></i><b> Verified: </b></td>
          <td class="break_text"><%= is_verified(@user) %></td>
        </tr>
        <tr>
          <td class="fa_icon"><i class="fa fa-calendar"></i><b> Last Updated: </b></td>
          <td class="break_text"><%= time_format(@user.updated_at) %></td>
        </tr>
        <tr>
          <td class="fa_icon"><i class="fa fa-calendar"></i><b> Registered At: </b></td>
          <td class="break_text"><%= time_format(@user.created_at) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @user.is_consumer? && @bookings.present? %>
  <h3 style="text-align: center; ">Bookings</h3>
  <%= render "partials/bookings" %>
<% end %>
