<div id="search_form1" style="height: 34px;">
  <%= form_tag user_by_role_users_path, method: :get  do %>
    <div class="input-group" style="float: left;">
      <span class="input-group-addon colors"><i class="glyphicon glyphicon-phone"></i></span>
      <%= text_field_tag :cell, params[:cell], placeholder: 'Cell', class: "form-control fields" %>
      <span class="input-group-addon colors"><i class="glyphicon glyphicon-user"></i></span>
      <%= text_field_tag :name, params[:name], placeholder: 'Name', class: "form-control fields" %>
      <span class="input-group-addon colors"><i class="fa fa-automobile (alias)"></i></span>
      <%= text_field_tag :plate_number, params[:plate_number], placeholder: 'Plate #', class: "form-control fields" %>
      <span class="input-group-addon colors" style="background-color: transparent !important; border: 0;"></span>
      <%= submit_tag "Go", class: "btn btn-sm btn-primary", style: "float: right; height: 34px; margin-bottom: 0;" %>
    </div>
  <% end %>
</div>

<div id="search_form2" style="height: 34px; display: none; ">
  <%= form_tag user_by_role_users_path, method: :get  do %>
    <div class="input-group" style="float: left;">
      <span class="input-group-addon colors"><i class="glyphicon glyphicon-phone"></i></span>
      <%= text_field_tag :cell, params[:cell], placeholder: 'Cell', class: "form-control" %>
    </div>
    <div class="input-group" style="float: left;">
      <span class="input-group-addon colors"><i class="glyphicon glyphicon-user"></i></span>
      <%= text_field_tag :name, params[:name], placeholder: 'Name', class: "form-control" %>
    </div>
    <div class="input-group" style="float: left;">
      <span class="input-group-addon colors"><i class="glyphicon glyphicon-envelope"></i></span>
      <%= text_field_tag :plate_number, params[:plate_number], placeholder: 'Plate #', class: "form-control" %>

    </div>
      <%= submit_tag "Go", class: "btn btn-sm btn-primary", style: "float: right; height: 34px; margin-bottom: 0;" %>
  <% end %>
</div>
