
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= @user.name %>'s Profile</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <span class="input-group-addon view_head"><b>Name</b></span>
            <div class="view_field">
              <%= @user.name.try(:titleize) %>
            </div>
            <br>
            <span class="input-group-addon view_head"><b>Email</b></span>
            <div class="view_field">
              <%= @user.email %>
            </div>
            <br>
            <span class="input-group-addon view_head"><b>Cell</b></span>
            <div class="view_field">
              <%= @user.cell %>
            </div>
            <br>
            <span class="input-group-addon view_head"><b>Verified</b></span>
            <div class="view_field">
              <%= is_verified(@user) %>
            </div>
            <br>
            <span class="input-group-addon view_head"><b>Registation Date</b></span>
            <div class="view_field">
              <%= time_format(@user.created_at) %>
            </div>
            <br>
            <span class="input-group-addon view_head"><b>Last Updated</b></span>
            <div class="view_field">
              <%= time_format(@user.updated_at) %>
            </div>
            <br>
          </div>
          <div><%= link_to 'Back', user_by_role_users_path(role: @user.role, status: @user.status), class: "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>
