<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= @user.name %>'s Profile</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="well" style="font-size:14px;">
              <div id="info_well" style="display: flex;">
                <div id="user_info" style="width: 49%">
                  <div class="fa_icon" ><i class="fa fa-user"></i><b> Name: </b></div>
                  <div class="icon_field" ><%= @user.name.try(:titleize) %></div>
                  <div class="fa_icon" ><i class="fa fa-envelope"></i><b> Email: </b></div>
                  <div class="icon_field" ><%= @user.email %></div>
                  <div class="fa_icon" ><i class="fa fa-phone-square" ></i><b> Cell: </b></div>
                  <div class="icon_field" ><%= @user.cell %></div>
                </div>
                <div id="user_info" style="width: 49%">
                  <div class="fa_icon" ><i class="fa fa-check-square-o"></i><b> Verified: </b></div>
                  <div class="icon_field" ><%= is_verified(@user) %></div>
                  <div class="fa_icon" ><i class="fa fa-calendar"></i><b> Last Updated: </b></div>
                  <div class="icon_field" ><%= time_format(@user.updated_at) %></div>
                  <div class="fa_icon" ><i class="fa fa-calendar"></i><b> Registered At: </b></div>
                  <div class="icon_field" ><%= time_format(@user.created_at) %></div>
                </div>
              </div>
            </div>

            <% if @bookings.present? %>
              <h3 style="text-align: center; ">Bookings</h3>
              <%= render "partials/bookings" %>
            <% end %>

          <div><%= link_to 'Back', user_by_role_users_path(role: @user.role, status: @user.status), class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  </div>
</div>
