<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= user_index_title %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <% if params[:role] == "consumer" %>
              <%= render "consumers" %>
            <% elsif params[:role] == "driver" %>
              <%= render "drivers" %>
            <% end %>

            <div class="dataTables_paginate paging_simple_numbers">
                <%= paginate @users, window: 4 %>
            </div>
            <br>
            <%= page_entries_info @users %>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
